<div class="home__container">
    <app-card
        gameCover="assets/bt-1.jpg"
        gameLabel="Digital"
        gameType="DIGITAL | PS4"
        gamePrice="R$129,99"
    >   
    </app-card>
    <app-card
        gameCover="assets/bt-4.jpg"
        gameLabel="Exclusive"
        gameType="DISC | PS5"
        gamePrice="R$249,99"
    >   
    </app-card>
    <app-card
        gameCover="assets/ac-cover.jpg"
        gameLabel="DISCOUNT"
        gameType="DIGITAL | PS5 | PS4"
        gamePrice="R$149,90  ̶ ̶R̶$̶-̶2̶4̶9̶,̶9̶9̶"
    >   
    </app-card>
    <app-card
        gameCover="assets/bt-hardline.jpg"
        gameLabel="NEW"
        gameType="DIGILTAL | PS5 | PS4"
        gamePrice="R$349,99"
    >   
    </app-card>
</div>
